<!DOCTYPE html>
<html>
<head>
  <title>Refinery bootstrap rtl</title>
  <%= stylesheet_link_tag    "refinery_bootstrap_rtl/application", media: "all" %>
  <%= javascript_include_tag "refinery_bootstrap_rtl/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
